page-change-reward {
    .label-md{
        margin: 0px !important;
    }
    page-change-reward .border_spinner {
        border-radius: 25px;
        border: 1px solid #cac4c4;
        padding-left: 25px;
        padding-right: 25px;
        width: 100% !important;
        height: 50px;
    }
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100% !important;
        border-radius: 25px;
        padding-right: 25px;
        align-items: center;
        border: 1px solid #cac4c4;
    }
    .st{
        padding: 10px;
        font-size: 20px;
        border-bottom: .2px solid #dcd9d9;
        margin-left: 10px;
        margin-right: 10px;
    }

    .col {
        width: 100px;
        text-align: center;
        font-size: 10px;
    }


   .align {
       margin-top: 130px;

        align-content: center;
    }

    
    .button-md-primary {
    color: #fff;
    align-items: center;
    background-color: #488aff;
    margin-left: 31%;
    padding: 0px 12%;
    }
    input:focus, select:focus, textarea:focus {
        outline: 0;
        border-color: #ffffff;
        background-color: #ffffff;
        box-shadow: 0 0 2px #ffffff;
    }
    
    .searchList{
    color: #fff;
    width: 300px;
    text-align: center;
    position: absolute;
    background-color: white;
    z-index: 1002;
    box-shadow: 0px 0px 20px 5px #d2d0d0;
    }
    
}
