<ion-content>
    <div class="login_container">
        <img src="assets/images/Login_bg.png">
        <div class="centered">
            <h1 style="font-size: 19px;font-weight: bold;">{{'Finolex Cables Ltd' | translate}}</h1>
            <p>{{'Get Started' | translate}}</p>
            <span>{{'Experience your brand!' | translate}}</span>
        </div>
    </div>

    <div class="" style="flex-direction: column; padding: 0px 20px; justify-content: space-evenly ; max-height: 100%!important;">
        <div class="div_center">
            
            <img src="assets/icon/MobileNumber.png" class="center_image"/>
            <ion-label class="label_bold">{{'Verify your Number' | translate}}</ion-label>
            <ion-label class="label_normal">{{'Please enter your mobile number to receive a verification code' | translate}}</ion-label>
        </div>

        <form [formGroup]="form">
            <!-- <ion-item style="margin-bottom: 50px;">
                <ion-label  stacked style="margin-bottom: 5px; padding-left: 15px;color: black;">Select Role<span style="color: red;"> *</span></ion-label>
                <ion-select placeholder="role" formControlName="role" 
                [class.invalid]="!form.controls.role.valid && !form.controls.role.dirty" >
                    <ion-option value="dealer">Dealer</ion-option>
                    <ion-option value="electrician">Electrician</ion-option>
                </ion-select>                
            </ion-item> -->

                <ion-input type="tel" class="custom_input" maxlength="10" formControlName="mobile_no" placeholder="{{'Mobile Number' | translate}}" [class.invalid]="!form.controls.mobile_no.valid && !form.controls.mobile_no.dirty">
                </ion-input>

            <button type="submit" class="submit_button" ion-button color="primary" (click)="sendOtp()"
             [disabled]="!form.valid" full>{{'Send OTP' | translate}}</button>
        </form>
    </div>
</ion-content>
<!-- <div class="cable_background">
    <img src="assets/images/aflex.png">
</div>
 --><!-- <ion-footer class="myColor">
    <div class="login_container">
        <img src="assets/images/bg-waves-dark.svg">
        <div class="bottom-right">
            <p>Finolex cables. All rights reserved.</p>
        </div>
    </div>
</ion-footer> -->