html,
body {
    height: 100%;
}

p {
    font-weight: normal;
    line-height: 18px;
}

h1 {
    font-weight: 300;
    line-height: initial;
    margin-top: 0;
}

.text-align__center {
    text-align: center;
}

.height-100p {
    height: 100%;
}

.height-calc__100 {
    min-height: calc(100% - 48px);
}

.dimension-72 {
    width: 72px;
    height: 72px;
}

.border-left-margin-padding {
    border-left: 1px solid #ccc;
    margin-left: 12px;
    padding-left: 12px;
}

.width-49p {
    width: 49%;
}

.width-800 {
    width: 800px;
}

.margin-top__24 {
    margin-top: 24px;
}

.margin-bottom__24 {
    margin-bottom: 24px;
}

.margin-right__24 {
    margin-right: 24px;
}

.margin-center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-align__center {
    align-items: center;
}

.flex-wrap__wrap {
    flex-wrap: wrap;
}

.flex-justify__between {
    justify-content: space-between;
}

.proxy-link {
    line-height: 48px;
    float: right;
    margin-right: 16px;
}

.start-page-container {
    width: 800px;
    margin: 0 auto;
}

.start-page-container p {
    font-size: 15px;
    line-height: 21px;
    margin: 36px 0;
}

.dot-logo__block {
    width: 48px;
    height: 48px;
    background: #19252A;
    float: left;
}

.setup-container {
    width: 450px;
    margin: 0 auto;
}

.terms-block {
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #90A4AE;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
}

.subscription_promo {
    width: 425px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 48px;
}

.subscription_promo img {
    height: 72px;
}

.subscription_promo p {
    margin: 0;
    padding: 0;
    margin-left: 24px;
    width: 281px;
}

.subscription_promo .dot-button {
    width: auto;
    margin: 0 auto;
    box-shadow: 0 0 25px 0 rgba(3, 102, 214, 0.50);
    border-radius: 15px;
    position: relative;
    top: 38px;
}

.divider {
    border: 0px solid #C0C2C3;
    border-top: 1px solid #C0C2C3;
    margin: 48px auto;
}

.floating-shadow {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}

.setup-container__display {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(43, 59, 93, 0.20);
    border-radius: 4px;
}

.agent-container {
    width: 700px;
    margin: 0 auto;
}

.agent-container h2 {
    margin: 0;
    margin-top: 12px;
    font-weight: 300;
}

.meta-info {
    margin: 16px 0;
}

.meta-info label {
    display: block;
    margin-bottom: 8px;
}

.user-label {
    line-height: 48px;
}

.place_holder_block {
    /* height: 300px; */
    width: 100%;
    text-align: center;
    vertical-align: middle;
    /* padding: 36px; */
    margin-top: 150px;
}

.place_holder_block_printing {
    /* height: 300px; */
    width: 100%;
    text-align: center;
    vertical-align: middle;
    /* padding: 36px; */
}

.place_holder_block p {
    font-size: 75% !important;
    font-weight: 300 !important;
}