.segment-button {
    border-radius: 24px !important;
    border-style: solid !important;
    border-width: 0 !important;
    height: auto !important;
    font-size: 75% !important;
    line-height: initial !important;
    padding: 8px 8px !important;
    margin: 3px 0!important;
    margin-top: 0 !important;
    background: transparent !important;
    color: black !important;
    opacity: 0.5 !important;
    text-transform: none !important;
    font-weight: normal !important;
}

.segment-button.segment-activated {
    background: #F3F3F3 !important;
    opacity: 1 !important;
}

.main_tabs {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    padding-bottom: 0;
}

.main_tabs .segment-button {
    margin: 0 !important;
    padding: 12px 8px !important;
    border-radius: 0 !important;
    border-bottom: 3px solid transparent !important;
}

.main_tabs .segment-button.segment-activated {
    background: transparent !important;
    opacity: 1 !important;
    border-bottom: 3px solid #3439B8 !important;
    border-radius: 0 !important;
}

.toolbar-title {
    color: #fff !important;
    font-size: 100% !important;
}

.bar-button,
.back-button-icon {
    color: #fff !important;
    /* font-size: 100% !important; */
}

/* .toolbar-background {
    background: #3439B8 !important;
    border-color: transparent;
} */

.list-ios>.item-block:first-child {
    border-top: 0 solid transparent !important;
}

.item-ios {
    padding: 0 !important;
}