
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-weight: normal;">{{'Change Password' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

		<ion-label item-start stacked>{{'Old Password' | translate}}</ion-label>
		<button class="icon_button">
			<ion-icon item-end [name]="oldpasswordIcon" class="passwordIcon" 
			(click)='hideShowPassword("Old")'></ion-icon>
		</button>
		<ion-input class="input_text" [type]="oldpasswordType"  [(ngModel)]="oldPassword"></ion-input>
			

		<ion-label stacked>{{'New Password' | translate}}</ion-label>
		<button class="icon_button">
			<ion-icon item-end [name]="newpasswordIcon" class="passwordIcon" 
			(click)='hideShowPassword("New")'></ion-icon>
		</button>
		<ion-input class="input_text" [type]="newpasswordType"  [(ngModel)]="newPassword"></ion-input>
		
		<ion-label stacked>{{'Confirm Password' | translate}}</ion-label>
		<button class="icon_button">		
			<ion-icon item-end [name]="confirmpasswordIcon" class="passwordIcon" 
			(click)='hideShowPassword("Confirm")'></ion-icon>
		</button>
		<ion-input class="input_text" [type]="confirmpasswordType"  [(ngModel)]="confirmPassword" (keyup)="validatePassword()"></ion-input>

    <p style="color:red" *ngIf=" checkPass == false">{{'Password Mismatch' | translate}}</p>
	<ion-row style="margin-right: 2px;margin-left: 2px;">
		<button ion-button color="primary" (click)="changePassword()" style="border-radius: 25px;" [disabled]=!isConfirm full>{{'Submit' | translate}}</button>
	</ion-row>
</ion-content>
