page-contact-us {
.header_key{
	font-size: 20px;
	font-weight: bold;
	color: #2698d8;
	padding: 5px;
}
.header_value{
	font-size: 16px;
	font-weight: normal;
	color: black;
	padding: 5px;	
	margin-top: -5px;
}
}
