page-products-modal {

	.box {
	   display: flex;
	   align-items:center;
	   height: 150px;
	}
	.span-price{
		font-weight: bold;
		text-align: center;
		align-items: center;
		font-size: 16px;
	}
	.span-name{

		text-align: center;
		align-items: center;
		font-size: 16px;
	}
	.div-price-name{
    width: 40%;
    text-align: center;
	}
	.grid {
		padding : 0px;
	}
	.col{
	padding : 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	}
	.p-desc{
		text-align: start;
	background: lightgrey;
    height: 150px;
    font-size: 16px;
    color: grey;
    padding: 10px;
	}
	.h6-feature{
		text-align: start;
    padding: 10px 0px 0px 10px;
	}
	.footer-img{
		width: 30px;
		height: 30px;
		padding-right: 5px;
	}
}
