<ion-content>
    <div class="login_container" >
        <img src="assets/images/Login_bg.png">
        <div class="centered">
            <h3>{{'Finolex Cables Ltd' | translate}}</h3>
            <p>{{'Get Started' | translate}}</p>
            <span>{{'Experience your brand!' | translate}}</span>
        </div>
    </div>

    <div class="pwd_section" style="overflow: hidden;position:fixed;">
        <ion-label stacked>{{'New Password' | translate}}</ion-label>
        <button class="icon_button">
            <ion-icon item-end [name]="newpasswordIcon" class="passwordIcon"  (click)='hideShowPassword("New")'></ion-icon>
        </button>
		<ion-input class="input_text" [type]="newpasswordType"  [(ngModel)]="newPassword"></ion-input>
				
		<ion-label stacked>{{'Confirm Password' | translate}}</ion-label>
		<button class="icon_button">		
			<ion-icon item-end [name]="confirmpasswordIcon" class="passwordIcon" 
					(click)='hideShowPassword("Confirm")'></ion-icon>
		</button>
		<ion-input class="input_text" [type]="confirmpasswordType"  [(ngModel)]="confirmPassword" (keyup)="validatePassword()"></ion-input>

        <p style="color:red" *ngIf=" checkPass == false">password mismatch</p>
		<ion-row style="margin-right: 2px;margin-left: 2px;margin-top: 10px">
				<button ion-button color="primary" (click)="changePassword()" style="border-radius: 25px;" [disabled]=!isConfirm full>{{'Submit' | translate}}</button>
        </ion-row> 
	</div>      
</ion-content>
<!-- <div class="cable_background">
    <img src="assets/images/aflex.png">
</div>
<ion-footer class="myColor">
    <div class="login_container">
        <img src="assets/images/bg-waves-dark.svg">
        <div class="bottom-right">
            <p>Finolex cables. All rights reserved.</p>
        </div>
    </div>
</ion-footer> -->